body {
  margin: 0;
  padding: 0 20px;
  background-color: #f4f4f4;
  font-family: Arial, sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  padding: 24px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input, select {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  /* margin-bottom: 10px; */
}

input[type="checkbox"] {
  transform: scale(1.5);
  margin-right: 8px;
}

label {
  padding-bottom: 2px;
}

#action-container {
  margin: 10px 0;
} 

span.error {
  color: red;
  font-size: small;
  margin-bottom: 12px;
  padding: 2px;
}

.save-button {
  padding: 8px 20px;
  border-radius: 4px;
  /* border: 1px solid #ccc; */
  font-size: 16px;
  margin: 10px 10px 10px 0;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

/* form {
  display: grid;
  grid-template-columns: 10em 1fr;
  grid-template-rows: auto;
  gap: 6px 10px;
  padding: 24px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  text-align: right;
  align-items: center;
}

#action-container {
  grid-column: 2/3;
} */


/* User Listing */
table {
  width: 100%;
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid black;
}

th,
td {
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}